{% if localization.country.iso_code == 'AE' or localization.country.iso_code == 'SA' %}

{% capture tamara_country %}{% if localization.country.iso_code == 'SA' %}SA{% else %}AE{% endif %}{% endcapture %}

<script>
  window.tamaraWidgetConfig = {
    lang: "{{ request.locale.iso_code }}",
    country: "{{ tamara_country }}",
    publicKey: "556c6637-d75e-4907-8235-1292e79b63b6",
    css: `:host {
      --font-primary: inherit !important;
      --font-secondary: inherit !important;
    }
    .tamara-summary-widget__amount {
      font-weight: 700 !important;
    }`,
    style: {
      fontSize: '14px',
      badgeRatio: 1.2,
    }
  }
</script>
<script defer type="text/javascript" src="https://cdn.tamara.co/widget-v2/tamara-widget.js"></script>
<div>
  <tamara-widget 
    id="tamara-widget-custom" 
    type="tamara-summary" 
    amount="{{ product.price | money_without_currency | remove: ',' }}" 
    config='{"badgePosition":"right","showExtraContent":""}' 
    inline-type="2">
  </tamara-widget>
</div>

{% endif %}
